* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: black;
  /* background-image: url(../images/creative-flat-lay-photo-workspace-desk.jpg); */
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
